%h1 #{@genre.genre}

%p #{link_to 'Edit', edit_genre_path(@genre)}

- if @genre.books.length != 0
  %p Here are some books that are in this genre:
  %ul
  - @genre.books.each do |book|
    %li #{ link_to book.title, book }