%h1 #{@genre.name.titlecase}

%p #{link_to 'Edit', edit_genre_path(@genre)}

- if @count > 0
  %p There are currently #{@count} books in the collection which belong to this genre.
  %p Here are an assortment of books that are in this genre:
  %ul
  - @genre.books.shuffle[0..9].each do |book|
    %li #{ link_to book.title, book }