body, p, ol, ul, td {
  /* Look into custom font-replacement, something stately like Garamond */
  font-family: "Helvetica Neue", helvetica, verdana, arial, sans-serif;
}

body {
  padding-top:60px;
}

#wrapper {
  width:970px;
  padding:10px 20px 10px 10px;
}

.item {
  padding:10px 0;
  border-bottom:1px solid #ccc;
}

.item h3 {
  padding:0;
  margin:0;
}

#contributors,
.reading {
  background:#eee;
  border:1px solid #ccc;
  padding:10px;
  margin-top:10px;
}

#administrivia {
  padding-top:20px;
  border-top:1px solid #ccc;
}

#prolific_authors,
#prolific_publishers,
#last_read {
  width: 32%;
  float: left;
}

#prolific_publishers,
#last_read {
  margin-right:2%;
}

#administrivia h5 {
  line-height:15px;
  margin-bottom:2px;
}

#administrivia p.small {
  margin-top:0;
}

#unread_prompt {
  clear:both;
}

#blackout {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  z-index:1000;
  display:none;
}

#modal-receiver {
  border:3px double #333;
  -moz-border-radius:5px;
  -webkit-border-radius: 5px;
  background-color:white;
  padding:20px;
  position:absolute;
  top:50px;
  width:300px;
  left:50%;
  margin-left:-170px;
  z-index:1001;
  display:none;
}

p.exclude label {
  float:none;
  clear:both;
  vertical-align:middle;
}

p.exclude input {
  vertical-align:middle;
}