%h1 Listing authors

%table
	%tr
	-@authors.each do |author|
		%tr
			%td= author.name
			%td= link_to 'Show', author
			%td= link_to 'Edit', edit_author_path(author)
			
%a= link_to 'New author', new_author_path