%h1 About the Bibliophile Project

%p Data stored in here pertains to the personal library. The goal is currently only for paper books, including books on file (copies, in a file cabinet), to also have books that are no longer in the collection, books checked out from various libraries.

%p This page also contains information regarding to-do items, wish lists, etc.

%h2 Project History
%p It all started with a stack of books and a pad of paper, trying to answer the question, "Which of these books have I already read, what's still on the shelf unread?"

%p It became a Word doc. Then a spreadsheet. Then an Access database. It migrated to mysql. It's been written in three flavors of php (Procedural, OO, ZendFramework-based). And now it's in Rails.

%p Because of the nature of the project, data is spotty at best. When did we start keeping track of languages? Only when languages became important. Readings only happened very recently as well.

%h3 Technical Wish List
%ul
  %li Simplify date insertion for readings (jquery datepicker perhaps?)
  %li Search, Search, Search -- Persistent throughout the application