%h1 Editing book
%h4 (Currently known as <i>#{@book.title}</i>)

-# This next line causes raw output of {}
=@book.errors
=render 'book'

%p #{ link_to 'Cancel Edits', @book } | #{ link_to 'Back to Main index', books_path }
