body, p, ol, ul, td {
  /* Look into custom font-replacement, something stately like Garamond */
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

body {
  padding-top: 0;
  background-color: #333;
  background-image:
  repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
  linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
  background-image:
  -webkit-repeating-linear-gradient(-30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  -webkit-repeating-linear-gradient(30deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  -webkit-linear-gradient(30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
  -webkit-linear-gradient(-30deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
  background-size: 70px 120px;
}

.content .container {
  padding: 60px 30px 40px;
  background-color: white;
}

#wrapper {
  width:970px;
  padding:10px 20px 10px 10px;
}

.item {
  padding:10px 0;
  border-bottom:1px solid #ccc;
}

.item h3 {
  padding:0;
  margin:0;
}

#book-list {
  width:45%;
  float:left;
}

#bio-section {
  display: block;
  width:50%;
  float:right;
}

img.author-portrait {
  display: block;
  float: left;
  margin-right: 20px;
}

#page-nav {
  clear:both;
}

#contributors,
.reading {
  background:#eee;
  border:1px solid #ccc;
  padding:10px;
  margin-top:10px;
}

#administrivia {
  padding-top:20px;
  border-top:1px solid #ccc;
  clear:both;
}

#prolific_authors,
#prolific_publishers,
#last_read {
  width: 32%;
  float: left;
}

#prolific_publishers,
#last_read {
  margin-right:2%;
}

#administrivia h5 {
  line-height:15px;
  margin-bottom:2px;
}

#administrivia p.small {
  margin-top:0;
}

#unread_prompt {
  clear:both;
}

#blackout {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  z-index:1000;
  display:none;
}

#modal-receiver {
  border:3px double #333;
  -moz-border-radius:5px;
  -webkit-border-radius: 5px;
  background-color:white;
  padding:20px;
  position:absolute;
  top:50px;
  width:300px;
  left:50%;
  margin-left:-170px;
  z-index:1001;
  display:none;
}

p.exclude label {
  float:none;
  clear:both;
  vertical-align:middle;
}

p.exclude input {
  vertical-align:middle;
}

#charts {
  clear: both;
}

#lchart {
  width: 50%;
  height: 400px;
}

#lchart .legend table {
  width: 100px;
}

#lchart .legend table th,
#lchart .legend table td {
  padding: 0;
}

tbody tr:nth-child(2n) td, 
tbody tr.even td {
  background-color: transparent;
  }